<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="res/images/icon.ico">
  <link href="/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>NeWind™</title>
</head>

<body>
  <nav>
    <div class="navbar">
      <div class="logo"><a href="#">NeWind™</a></div>
      <ul class="nav-links">
        <li><a href="profile">Profile</a></li>
        <li><a href="discover">Discover</a></li>
        <li><a href="meet">Meet</a></li>
        <li><a href="/">About</a></li>
      </ul>
      <button class="mobile"><i class="fa fa-bars"></i></button>
      <div class="profile">
        <button class="escape"><i class="fa fa-power-off"></i></button>
        <button class="log"><i class="fa fa-key"></i></button>
      </div>
    </div>
    <div class="deco"></div>
  </nav>
  <div class="card4">
    <div class="top">
      <p>
        Meet History
      </p>
    </div>
    <div class="content3">
      <div class="sections3">
        <table>
          <tr>
            <td class="firstly">#</td>
            <td class="secondary">Status: <span>#</span></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="tools">
    <input class="search" type="text" placeholder="Search..">
    <button class="accept"><i class="fa fa-check"></i></button>
    <button class="reject"><i class="fa fa-times"></i></button>
    <button class="revert"><i class="fa fa-undo"></i></button>
  </div>
</body>
<script type="text/javascript " src="/js/script.js "></script>

</html>